.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: aqua;

}

.expense-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    justify-content: flex-start;
    flex: 1;    
}

.expense-item__description h2{
    color:brown;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color:darkgreen
}

.expense-item__price {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    color: red;
}